<a href="https://colab.research.google.com/github/ranitiwary25/python-program/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for row in range(6,0,-1):
  for column in range(1,row+1):
    print("*", end=" ")
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
for row in range(0,7):
  for column in range (1,row+1):
    print (column, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [6]:
for row in range(0,6):
  for column in range(0,6-row-1):
    print(end=' ')
  for k in range(0, row+1):
    print('*',end=' ')
  print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *